{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/consistent-type-definitions": "off",

    "@typescript-eslint/array-type": ["warn", "array-simple"],
    "@typescript-eslint/prefer-for-of": "error",
    "@typescript-eslint/require-array-sort-compare": "warn",
    "@typescript-eslint/unified-signatures": "error",
    "@typescript-eslint/prefer-regexp-exec": "warn",
    "@typescript-eslint/no-unnecessary-type-assertion": "error",
    "@typescript-eslint/prefer-includes": "error"
  },
  "parserOptions": {
    "project": "tsconfig.json"
  }
}
